/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 75px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 1000px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.table-detail{line-height: 1}
.level0{padding-left: 0px;}
.level1{padding-left: 20px;}
.level2{padding-left: 40px;}
.level3{padding-left: 60px;}
.level4{padding-left: 80px;}
